:root {
  --button-background-color: #cc2a2a;
  --button-background-color-hover: #ffae00;
  --button-text-color: #0f35dd;
}

.catContainer {
  padding: 20px;
  width: 75%;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.catContainer h21 {
  background-color: rgba(238, 12, 12, 0.205);
  display: flex;
  justify-content: center;
  padding: 10px;
  color: black;
  font-weight: 700;
  align-items: center;
  font-size: 2.5em;
  border-radius: 10px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  gap: 10px;
}

.card {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  /* border: 1px solid #ccc; */
  transition: transform 0.2s, box-shadow 0.2s;
  
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(34, 117, 196, 0.3);
}

.card .cardImage {
  width: auto;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.cardLink {
  text-decoration: none;
  color: var(--button-text-color);
}

.cardLink h4 {
  margin: 10;
  font-size: 1em;
  width: 110%;
  
  color: var(--nav-font-color);
  padding: 10px;
  border-radius: 1px;
  background: var(--button-background-color);
  border-radius: 10px;
}

.cardLink h4:hover {
  background: var(--button-background-color-hover);
}

body {
  margin: 0;
}



