:root {
  --button-background-color: #cacaca;
  --button-background-color-hover: #ffae00;
  --button-text-color: #01125e;
}

.catContainer {
  padding: 20px;
  width: 80%;
  justify-content: center;
}

.catContainer h2 {
  display: flex;
  justify-content: center;
  padding: 30px;
  color: var(--nav-font-color);
  align-items: center;
  font-size: 2.5em;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  /* border: 1px solid #ccc; */
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card .cardImage {
  width: auto;
  height: 200px;
  object-fit: cover;
}

.cardLink {
  text-decoration: none;
  color: var(--button-text-color);
}

.cardLink h4 {
  margin: 0;
  font-size: 1em;
  color: var(--nav-font-color);
  padding: 20px;
  border-radius: 5px;
  background: var(--button-background-color);
}

.cardLink h4:hover {
  background: var(--button-background-color-hover);
}
